<header class="site-header">
    <div class="nav-top">
        <div class="container header-row">
            <div class="brand-slot">
                <img class="brand-logo" src="{{ asset('assets/logo/recyclum-logo-1.png') }}" alt="Recyclum">
            </div>

            <div class="splitter-curve" aria-hidden="true"></div>

            <div class="menu-slot">
                <nav class="menu-rail">
                    <div class="nav-rail">
                        <a class="nav-link active" href="">Accueil</a>
                        <a class="nav-link" href="">Vente</a>
                        <a class="nav-link" href="">Réparation</a>
                        <a class="nav-link" href="">Rachat</a>
                        <a class="nav-link" href="">Avis</a>
                    </div>
                    <a class="btn btn-rail-cta ms-2" href="">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>
